body {
  box-sizing: border-box;
}

.column1,.column2,.column3{
  box-sizing: border-box;
  border: 2px solid black; 
  margin-top: 2px;
  margin-left: 2px;
  width: 250px;
  height: 200px;
}

.row h2{
  background-color: pink;
  border: 2px solid purple;
  display: inline;
}
